/* Basic page setup
==============================*/
body{
  background-color:#ededed;
  font-family:'Nunito', sans-serif;
  color:#333333;
}

.container{
  margin:1em 30em 1em 30em;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Navbar elements
==============================*/
.navbar{
  width:100%;
  font-size:1.2em;
  border-bottom:1px solid lightgray;
  box-shadow: 0 4px 2px -2px lightgray;
}

.title{
  width:5em;
  float:left;
  display:inline;
}

.points{
  width:5em;
  display:inline;
  float:right;
  margin-right:-2em;
  opacity:0.3;
}

.alerts, .arrow, .profile{
  width:5em;
  float:right;
  text-align:center;
  display:inline;
  border-left: 1px solid lightgray;
  position:relative;
  margin-top:1em;
}

.profile{
  border-left:none;
}

.alerts img, .arrow img{
  width:28%;
  opacity:0.2;
}

.alerts p{
  font-size:.8em;
  position:absolute;
  top:-1.8em;
  left:3.2em;
  background-color:#ff4c4c;
  color:white;
  padding:.1em .2em .1em .2em;
  border-radius:4px;
}

.profile img{
  width:10%;
  opacity:0.2;
}

.profile img:nth-child(1){
  width:50%;
}

.person{
  width:25%;
  height:100%;
  background-color:white;
  float:left;
  clear:right;
  border-radius:100%;
  border:2px solid royalblue;
}

/* Courses
==============================*/
.courses{
  width:100%;
}

.course-box{
  box-shadow:0 2px 0 lightgray;
  margin:.5em;
}

.top-bar{
  padding:1em;
}

.top-bar p{
  float:left;
  margin:0 0 0 1em;
  color:rgba(255, 255, 255, .5);
}

p.time{
  float:right;
  color:white;
  font-size:.9em;
  font-weight:bold;
}

.top-bar img{
  width:1.5em;
  display:inline;
  float:left;
}

.main-section{
  background:white;
  padding:1em;
  color:gray;
  font-size:.9em;
}

.main-section p:nth-child(1){
  font-weight:bold;
}

.main-section p:nth-child(2){
  font-size:1.1em;
  color:#333333;
}

p.tag{
  display:inline;
  border:2px solid lightgray;
  border-radius:2em;
  padding:.2em .4em .2em .4em;
  margin-right:1em;
}

.video-icons{
  width:30%;
  float:right;
  text-align:right;
  margin-top:-.5em;
}

.video-icons img{
  width:2em;
  opacity:0.2;
  margin-right:1em;
}

/* Specific Course Styling
==============================*/
.java, .woo{
  width:48%;
  float:left;
}

.django, .javafx{
  width:48%;
  float:right;
}

.java .top-bar, .javafx .top-bar{
  background-color:#4CA679;
}

.django .top-bar{
  background-color:#e55ea2;
}

.woo .top-bar{
  background-color:#663299;
}
.java-tag{
  color:#4CA679;
}

.woo-tag{
  color:#663299;
}

.django-tag{
  color:#e55ea2;
}
